<!-- Pagina de index para colocar en la pagina principal como de about -->
  <div class="jumbotron mt-4">
        <h1 class="display-4">The Book´s Factory</h1>
        <p=class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        </p>
        <hr class="my-4">
         <p=class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Quod rem dolore, deleniti, quaerat magnam cumque officiis sint doloribus 
            fugiat est ipsam? Aliquid, incidunt mollitia esse sint tempora nemo amet in.
        </p>
        <a href="https://www.google.com" class="btn btn-primary btn-lg">Ir a Google</a>
    </div>