

<!-- Footer -->
<footer class="page-footer font-small footer-blue bg-blue">

  <div class="footer-copyright text-center py-3">
      <h4>
          © 2019 Copyright: Libreria The Book´s Factory
      </h4>
    </div>
  <!-- Copyright -->

</footer>
<!-- Footer
